.searchGroupInput {
  border-radius: 10px !important;
}
.ms-res-ctn .ms-res-group{
  line-height: 23px;
  text-align: left;
  padding: 2px 5px;
  font-weight: bold;
  border-bottom: 1px dotted #41C4E0;
  border-top: 1px solid #41C4E0;
  background: #1C395A;
  color: #fff;
}
.ms-thumbnail-image{
  height: 20px;
  margin-bottom: 3px;
  margin-right: 5px
}

div.floatBtn-Wrapper{
  background: #2096F3;
    padding: 15px;
    border-radius: 8px;
    border-color: #46b8da;
    cursor: pointer;
    box-shadow: 0px 0px 5px #CCC;
    /*width:40px !important;*/
    min-height: 40px !important;
    /*font-size:20px;*/
}

div.floatBtn-Wrapper > span{
  display: none;
  position:fixed;
  margin-left:12px;
}

/* New Message */
div#vyndue-floatBtn-container_1 {
  position: fixed;
  bottom: 60px;
  right: -5px;
}

/* Pending Messages */
div#vyndue-floatBtn-container_2 {
  position: fixed;
    bottom: 114px;
    right: -5px;
}

/* Notifications */
div#vyndue-floatBtn-container_3 {
  position: fixed;
    bottom: 5px;
    right: -5px;
}
/* Settings */
div#vyndue-floatBtn-container_4 {
  position: fixed;
    bottom: 168px;
    right: -5px;
}

.hasNotifications{
  background: red !important;
}

/* Mention Form */
div#divMentionDiv
{
  position: absolute;
  margin-top: -60px;
  width: 88%;
  display: block;
  border: #1C395A solid 10px;
  border-radius: 5px;
}

a.mention{
  font-weight: bold;
  color: #fff;
}

span.vyndue_email > div{
  padding-left: 49px;
    font-size: smaller;
    font-style: italic;
    color: gray;
    letter-spacing: 1px;
    font-family: monospace;
    margin-top: 2px;
}

div#notificationBox{
  height: 400px;
  overflow-x: auto;
}

div#communityBox{
  height: 450px;
  overflow-x: auto;
  margin-top: 15px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

#findCommunity{
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 0px 5px #CCC;
  padding: 20px 50px;
  border: 1px solid #1C395A;
  font-size: default;
}

input.searchAwesome {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 17px;
}

.communitylist_thumbnail{
  height: 30px;
  width: 30px;
}

.communitylist_label{
  margin-left: 15px;
  margin-top: 7px;
  position: absolute;
}
.communitylist_btn{
  width:135px;
}